/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation

 */

ul.right {
  min-width: 500px;
  display: inline;
  float: right;
}

.top-bar-section li.search {
  min-width: 500px;
  display: inline;
  max-height: 45px;
  min-height: 45px;
}

.top-bar-section input.radius.button, input#search {
  max-width: 200px;
  display: inline-flex;
  float: right;
}

.top-bar-section form {
  min-width: 500px;
  display: inline;
}

.top-bar-section li.login {
  float: right;
}

.top-bar-section ul li {
    float: left;
    display: inline-block;
}

.top-bar-section a.icon {
    color: white;
    text-decoration: none;
    line-height: inherit;
    font-size: 30px;
    max-height: 45px;
    float: right;
}

img.thumbnail {
  height: 175px;
  width: 250px;
  border-radius: 0%;
}

img.show {
  border-radius: 0%;
  min-height: 500px;
  min-width: 600px;
}


.large-3 {
    min-width: 250px;
    background-color: white;
    min-height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left: 10px;
}

div.main-app {
  background-color: #FCFCFC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
// form styling
form.callout {
  width: 55%;
  display: inline-block;
  text-align: center;
}

div.form-field {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.form-field-placeholder {
}

input.form-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #555555
}

input.form-button:hover {
  background-color: #555555;
  color: white;
}
//end of form styling

div.row {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

div.row.text-center {
  padding-bottom: 20px;
}

div.column {
  padding-top: 30px;
  display: inline-block;
  text-align: center;
}

#showpicture {
  padding-top: 50px;
  padding-left: 200px;
}

#side-nav {
  padding-top: 50px;
}
