/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import 'ticker';
@import 'infobox';
@import 'linechart';
@import 'tooltip';
@import 'navbar';
@import 'image';
@import 'button';
@import 'form';


body {
  font-family: 'Work Sans', sans-serif;
  background-color: #FCFCFC;
}

body h4 {
  padding-top: 70px;
  padding-left: 30px;
  border-top-color: grey;
  border-top: 1px;
  border-top-style: solid;
  margin-top: 10px;
}

div.main-app {
  background-color: #FCFCFC;
  font-family: 'Work Sans', sans-serif;
}

div.back {
  padding-left: 30px;
}

div.hero-text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Zefani';
  letter-spacing: 5px;
  font-size: 4rem;
}

div.hero-text h6 {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Zefani';
  letter-spacing: 5px;
  font-size: 2rem;
}

div.row.text-center {
  padding-top: 10px;
  padding-bottom: 15px;
}

//tiles on index
#tile-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.large-3 {
  min-width: 350px;
  max-width: 500px;
  background-color: #FCFCFC;
  min-height: 600px;
  max-height: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 0px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px
}
//end tiles on index

.large-3 h6.date {
  text-align: right;
  padding-right: 15px;
}

// div.column-tiles {
//   padding: 50px;
//
//   display: flex;
//   justify-content: space-between;
//   text-align: center;
//   flex-flow: row wrap;
// }

div.column-tiles.text-center {
  padding-bottom: 20px;
}

div.column {
  padding-top: 30px;
  display: inline-block;
  text-align: center;
  background-color: #FCFCFC;
  margin: 20px;
}

input.show-input {
  max-width: 150px
}

#side-nav {
  padding-top: 50px;
}

div#tiles {
  min-width: 75%;
  padding-right: 20px;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
}

div#side-category {
  max-width: 450px;
  background-color: #FCFCFC;
  border-left-color: grey;
  border-left: 1px;
  border-left-style: solid;
  min-height: -webkit-fill-available;
}

.side-nav {
  display: block;
  margin: 0;
  padding: 0.875rem 0;
  list-style-type: none;
  list-style-position: outside;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  border-left-color: grey;
  border-left: 1px;
  border-left-style: solid;
  padding-left: 20px;
  margin-top: 20px;
}
