input.form-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #555555;
  // position: absolute;
}

input.form-button:hover {
  background-color: #555555;
  color: white;
}

button.invest-button {
  max-height: 45px;
  min-width: 250px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 2px #999;
}

button.invest-button:hover {
  background-color: #3e8e41;
}

button.invest-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a.back-button {
  background-color: #008CBA;
  max-height: 45px;
  min-width: 250px;
  display: inline-block;
  padding: 12px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 2px #999;
}

a.back-button:hover {
  background-color: #007CBB;
}

a.back-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a.search-back-button {
  background-color: #008CBA;
  max-height: 50px;
  min-width: 280px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 2px #999;
}

button.new-form {
  background-color: #008CBA;
  max-height: 45px;
  min-width: 180px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 2px #999;
}

input.radius.search.button {
  max-height: 25px;
  font-size: .75rem;
}
