input.form-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #555555;
  // position: absolute;
}

input.form-button:hover {
  background-color: #555555;
  color: white;
}

button.invest-button {
  max-height: 50px;
  min-width: 300px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 9px #999;
}

button.invest-button:hover {
  background-color: #3e8e41;
}

button.invest-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.back-button {
  background-color: #008CBA;
  max-height: 50px;
  min-width: 280px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px #999;
}

button.back-button:hover {
  background-color: #336EFF;
}

button.back-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

// button.new-form {
//   position: relative;
// }
