form.callout {
  width: 75%;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

div.form-field {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.modal-window {
  position: fixed;
  right: 100px;
  left: 100px;
  z-index: 3;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: block;
  text-align: center;
  max-width: 50%;
  min-width: 50%;
  padding-top: 10px;
}

div.backdrop {
  min-height: 2000px;
}

div.modal {
  text-align: center;
}

h2.formTitle {
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

input.form-field-desc {
  min-height: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
