body h4 {
  padding-top: 10px;
  padding-left: 30px;
  border-top: 1px solid #DAE1E9;
  margin-top: 10px;
  text-align: left;
}

div.show-desc {
  padding-left: 60px;
  max-width: 50%
}

div.about {
  padding-left: 30px;
  max-height: 50px;
}

div.show-row {
  margin-top: 60px;
  text-align: center;
}

ul.side-nav {
  text-align: left;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1px;
}

p.details {
  font-size: .85rem;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
    font-size: 1.5rem;
}

div.company-title {
  font-family: 'Montserrat', sans-serif;
  padding-top: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}


input.show-input {
  max-width: 175px
}

div#side-nav {
  padding-top: 15px;
}
