.row {
  display: flex;
  justify-content: center;
}

div.row-space {
  max-height: 10px;
}

h2.bit-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.50rem;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: inherit;
}

.popup {
  min-height: 50px;
}

i.fa {
  font-size: 30px;
}

div.container {
  border-bottom: 1px solid #DAE1E9;
  background-color: #FCFCFC;
}
